name: "Run test suite"
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - 'main'
      - 'master'
      - 'ci*' # Allow testing CI fixes without opening a PR

permissions:
  contents: read

jobs:
  tests-pass:
    name: all systems go
    runs-on: ubuntu-latest
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    steps:
      - run: exit 1
    needs:
      - lints
      - crypto-tests
      - extra-tests

  lints:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - name: check formatting
      run: nix fmt -- --ci
    - name: check for dead code
      run: nix develop .# --command deadnix .

  crypto-tests:
    name: build verification tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - name: Build crypto tools
      run: |
        nix build .#build-signer
        nix build .#build-verifier
    - name: Run crypto tests
      run: ./src/crypto/tests/test.sh

  extra-tests:
    name: extra rust tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - name: Run extra tests
      run: nix develop --command ./src/lang/rust/extra-tests/test.sh
